*,
*:before,
*:after{
box-sizing: border-box;
margin: 0;
}
html{
min-width: 320px;
width: 100vw;
height: 100vh;
overflow: auto;
box-sizing: border-box;
font-size: 16px;
font-family:
    'Source Sans Pro',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    sans-serif;
}
.no-wrap{
flex-wrap: nowrap;
}
.wrap{           
flex-wrap: wrap;         
}
.scrollX{
width: 100%;
overflow-x: scroll;
}
.hide{
display: none;
}
.show{
display: flex;
}
.width100{
  width: 100%;
}
.material-icons-outlined{
  cursor: pointer;
  margin: 0 5px;
}
.row {
flex-direction: row;
display: flex;
flex: 0 1 auto;
}
.column {
flex-direction: column;
display: flex;
flex: 0 1 auto;
}
.justify-start {
justify-content: flex-start;
}
.justify-center {
justify-content: center;
}
.justify-end {
justify-content: flex-end;
}
.justify-space-around {
justify-content: space-around;
}
.justify-space-between {
justify-content: space-between;
}
.align-start {
align-items: flex-start;
align-content: flex-start;
}
.align-center {
align-items: center;
align-content: center;
}
.align-end {
align-items: end;
align-content: end;
}
.align-space-around {
align-items: stretch;
align-content: stretch;
}
/**************************************** ************************************************* */
.flex-100{
  flex:0 0 100%;
}
.flex-90{
  flex:0 0 60%;
}
.flex-80{
  flex:0 0 80%;
}
.flex-70{
  flex:0 0 70%;
}
.flex-60{
  flex:0 0 60%;
}
.flex-50{
  flex: 0 0 50%;
}
.flex-40{
  flex:0 0 40%;
}
.flex-45{
  flex:0 0 45%;
}
.flex-33{
  flex: 0 0 33%;
}
.flex-30{
  flex: 0 0 30%;
}
.flex-25{
  flex: 0 0 25%;
}
.flex-20{
  flex: 0 0 20%;
}
.flex-15{
  flex: 0 0 15%;
}
.flex-10{
  flex: 0 0 10%;
}
/**************************************** ************************************************* */
@media only screen and (min-width: 1281px) {
  .no-wrap-lg{
  flex-wrap: nowrap;
  } 
  .wrap-lg{
  flex-wrap: wrap;         
  } 
  .scrollX-lg{
  width: 100%;
  overflow-x: scroll;
  }
  .hide-lg{
  display: none;
  }
  .show-lg{
  display: flex;
  }
  .row-lg {
  flex-direction: row;
  display: flex;
  flex: 0 1 auto;
  }
  .column-lg {
  flex-direction: column;
  display: flex;
  flex: 0 1 auto;
  }
  .justify-start-lg {
  justify-content: flex-start;
  }
  .justify-center-lg {
  justify-content: center;
  }
  .justify-end-lg {
  justify-content: flex-end;
  }
  .justify-space-around-lg {
  justify-content: space-around;
  }
  .justify-space-between-lg {
  justify-content: space-between;
  }
  .align-start-lg {
  align-items: flex-start;
  align-content: flex-start;
  }
  .align-center-lg {
  align-items: center;
  align-content: center;
  }
  .align-end-lg {
  align-items: end;
  align-content: end;
  }
  .align-space-around-lg {
  align-items: stretch;
  align-content: stretch;
  }
  /**************************************** ************************************************* */
  .flex-100-lg{
    flex:0 0 100%;
  }
  .flex-90-lg{
    flex:0 0 60%;
  }
  .flex-80-lg{
    flex:0 0 80%;
  }
  .flex-70-lg{
    flex:0 0 70%;
  }
  .flex-60-lg{
    flex:0 0 60%;
  }
  .flex-50-lg{
    flex: 0 0 50%;
  }
  .flex-40-lg{
    flex:0 0 40%;
  }
  .flex-45-lg{
    flex:0 0 45%;
  }
  .flex-33-lg{
    flex: 0 0 33%;
  }
  .flex-30-lg{
    flex: 0 0 30%;
  }
  .flex-25-lg{
    flex: 0 0 25%;
  }
  .flex-20-lg{
    flex: 0 0 20%;
  }
  .flex-15-lg{
    flex: 0 0 15%;
  }
  .flex-10-lg{
    flex: 0 0 10%;
  }
}
@media only screen and (min-width: 961px) and (max-width:1280px) {
  .no-wrap-md{
  flex-wrap: nowrap;  
  }
  .wrap-md{
  flex-wrap: wrap;         
  } 
  .scrollX-md{
  width: 100%;
  overflow-x: scroll;
  }
  .hide-md{
  display: none;
  }
  .show-md{
  display: flex;
  }
  .row-md {
  flex-direction: row;
  display: flex;
  flex: 0 1 auto;
  }
  .column-md {
  flex-direction: column;
  display: flex;
  flex: 0 1 auto;
  }
  .justify-start-md {
  justify-content: flex-start;
  }
  .justify-center-md {
  justify-content: center;
  }
  .justify-end-md {
  justify-content: flex-end;
  }
  .justify-space-around-md {
  justify-content: space-around;
  }
  .justify-space-between-md {
  justify-content: space-between;
  }
  .align-start-md {
  align-items: flex-start;
  align-content: flex-start;
  }
  .align-center-md {
  align-items: center;
  align-content: center;
  }
  .align-end-md {
  align-items: end;
  align-content: end;
  }
  .align-space-around-md {
  align-items: stretch;
  align-content: stretch;
  }
  /**************************************** ************************************************* */
  .flex-100-md{
    flex:0 0 100%;
  }
  .flex-90-md{
    flex:0 0 60%;
  }
  .flex-80-md{
    flex:0 0 80%;
  }
  .flex-70-md{
    flex:0 0 70%;
  }
  .flex-60-md{
    flex:0 0 60%;
  }
  .flex-50-md{
    flex: 0 0 50%;
  }
  .flex-40-md{
    flex:0 0 40%;
  }
  .flex-45-md{
    flex:0 0 45%;
  }
  .flex-33-md{
    flex: 0 0 33%;
  }
  .flex-30-md{
    flex: 0 0 30%;
  }
  .flex-25-md{
    flex: 0 0 25%;
  }
  .flex-20-md{
    flex: 0 0 20%;
  }
  .flex-15-md{
    flex: 0 0 15%;
  }
  .flex-10-md{
    flex: 0 0 10%;
  }
}
@media only screen and (min-width: 601px) and (max-width:960px) {
  .no-wrap-sm{
  flex-wrap: nowrap;
  } 
  .wrap-sm{
  flex-wrap: wrap;         
  }
  .scrollX-sm{
  width: 100%;
  overflow-x: scroll;
  }
  .hide-sm{
  display: none;
  }
  .show-sm{
  display: flex;
  }
  .row-sm {
  flex-direction: row;
  display: flex;
  flex: 0 1 auto;
  }
  .column-sm {
  flex-direction: column;
  display: flex;
  flex: 0 1 auto;
  }
  .justify-start-sm {
  justify-content: flex-start;
  }
  .justify-center-sm {
  justify-content: center;
  }
  .justify-end-sm {
  justify-content: flex-end;
  }
  .justify-space-around-sm {
  justify-content: space-around;
  }
  .justify-space-between-sm {
  justify-content: space-between;
  }
  .align-start-sm {
  align-items: flex-start;
  align-content: flex-start;
  }
  .align-center-sm {
  align-items: center;
  align-content: center;
  }
  .align-end-sm {
  align-items: end;
  align-content: end;
  }
  .align-space-around-sm {
  align-items: stretch;
  align-content: stretch;
  }
  /**************************************** ************************************************* */
  .flex-100-sm{
    flex:0 0 100%;
  }
  .flex-90-sm{
    flex:0 0 60%;
  }
  .flex-80-sm{
    flex:0 0 80%;
  }
  .flex-70-sm{
    flex:0 0 70%;
  }
  .flex-60-sm{
    flex:0 0 60%;
  }
  .flex-50-sm{
    flex: 0 0 50%;
  }
  .flex-40-sm{
    flex:0 0 40%;
  }
  .flex-45-sm{
    flex:0 0 45%;
  }
  .flex-33-sm{
    flex: 0 0 33%;
  }
  .flex-30-sm{
    flex: 0 0 30%;
  }
  .flex-25-sm{
    flex: 0 0 25%;
  }
  .flex-20-sm{
    flex: 0 0 20%;
  }
  .flex-15-sm{
    flex: 0 0 15%;
  }
  .flex-10-sm{
    flex: 0 0 10%;
  }
}